<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.dao.mapper.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.yun.beans.entity.Company">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_logo" jdbcType="VARCHAR" property="companyLogo"/>
        <result column="company_stage" jdbcType="VARCHAR" property="companyStage"/>
        <result column="company_emp_count" jdbcType="VARCHAR" property="companyEmpCount"/>
        <result column="company_industury" jdbcType="VARCHAR" property="companyIndustury"/>
        <result column="company_desc" jdbcType="VARCHAR" property="companyDesc"/>
        <result column="company_website" jdbcType="VARCHAR" property="companyWebsite"/>
        <result column="company_addr_province" jdbcType="VARCHAR" property="companyAddrProvince"/>
        <result column="company_addr_city" jdbcType="VARCHAR" property="companyAddrCity"/>
        <result column="company_addr_area" jdbcType="VARCHAR" property="companyAddrArea"/>
        <result column="company_adrr_detail" jdbcType="VARCHAR" property="companyAdrrDetail"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="other1" jdbcType="VARCHAR" property="other1"/>
        <result column="other2" jdbcType="VARCHAR" property="other2"/>
        <result column="company_legal_person" jdbcType="VARCHAR" property="companyLegalPerson"/>
        <result column="company_registered_capital" jdbcType="VARCHAR" property="companyRegisteredCapital"/>
        <result column="company_set_data" jdbcType="VARCHAR" property="companySetData"/>
    </resultMap>
    <select id="selectNameAndLogoById" resultMap="BaseResultMap">
        SELECT company_name, company_logo, company_id
        from company
        where company_id = #{jobId}
    </select>
    <select id="showAllCompanyInfo" resultMap="BaseResultMap">
        SELECT company_id,
               company_name,
               company_logo,
               company_stage,
               company_emp_count,
               company_industury,
               company_desc,
               company_website,
               company_addr_province,
               company_addr_city,
               company_addr_area,
               company_adrr_detail,
               status,
               other1,
               other2,
               company_legal_person,
               company_registered_capital,
               company_set_data
        from company
        where company_id = #{companyId}
    </select>
</mapper>