<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.dao.mapper.CustomerCollectionMapper">
  <resultMap id="BaseResultMap" type="com.yun.beans.entity.CustomerCollection">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="collection_id" jdbcType="INTEGER" property="collectionId" />
    <result column="job_id" jdbcType="VARCHAR" property="jobId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="collection_time" jdbcType="VARCHAR" property="collectionTime" />
  </resultMap>
</mapper>