<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.dao.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.yun.beans.entity.Customer">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="cust_id" jdbcType="INTEGER" property="custId"/>
        <result column="cust_name" jdbcType="VARCHAR" property="custName"/>
        <result column="cust_telno" jdbcType="CHAR" property="custTelno"/>
        <result column="cust_email" jdbcType="VARCHAR" property="custEmail"/>
        <result column="cust_password" jdbcType="VARCHAR" property="custPassword"/>
        <result column="cust_regist_time" jdbcType="VARCHAR" property="custRegistTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="other1" jdbcType="VARCHAR" property="other1"/>
        <result column="other2" jdbcType="VARCHAR" property="other2"/>
    </resultMap>
    <update id="updateBashInfroByCusId">
        UPDATE customer
        set cust_name=#{custName}
        where cust_id = #{custId}
    </update>
    <update id="updateSex">
        UPDATE customer
        set other2=#{other2}
        where cust_id = #{custId}
    </update>
    <update id="updateEmail">
        UPDATE customer
        set cust_email=#{custEmail}
        where cust_id = #{custId}
    </update>
    <update id="updatePhone">
        UPDATE customer
        set cust_telno=#{custTelno}
        where cust_id = #{custId}
    </update>
    <update id="DataIsVisible">
        UPDATE customer
        set status=1
        WHERE cust_id = #{custId}
    </update>
    <update id="DataIsNotVisible">
        UPDATE customer
        set status=0
        WHERE cust_id = #{custId}
    </update>
    <update id="updatePassword">
        update customer
        set cust_password=#{custPassword}
        where cust_id = #{custId}
    </update>
    <select id="selectName" resultType="string">
        select cust_name
        from customer
        where cust_id = #{custId}
    </select>
    <select id="selectEmail" resultType="string">
        SELECT cust_email
        from customer
        where cust_id = #{custId}
    </select>
</mapper>